
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/image/banner.webp);
  justify-content: center;
  background-position: center;
  background-size: cover;
}


.container {
  background-image: url(./assets/image/sharingan-live-obito-dark-aesthetic-8gl7myczfnkdh1b9.jpg);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.inner_layer {
  background: linear-gradient(to right, rgba(209, 56, 5, 0.8), rgba(204, 254, 87, 0.8));
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: black;
  font-size: 35px;
  font-weight: 600;
}

.right {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.button_collection {
  margin-top: 15px;
}

.btn_one {
  background-color: #F2F2F2 !important;
  width: 200px;
  height: 75px;
  color: black !important;
  font-weight: 600;
  font-size: 20px !important;
  background: linear-gradient(to right, rgba(209, 56, 5, 0.8), rgba(204, 254, 87, 0.8));
}

.btn_two {
  background-color: #F2F2F2 !important;
  width: 200px;
  height: 75px;
  color: black !important;
  font-size: 20px !important;
  background: linear-gradient(to right, rgba(209, 56, 5, 0.8), rgba(204, 254, 87, 0.8));
}